body {
    background-color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}
#topbar {
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
#topbarright {
    justify-content: space-between;
    margin-left: auto;
    min-width: auto;
}
.signinbutton {
    background: #1a73e8;
    border: 1px solid transparent;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border-radius: 4px;
    padding: 9px 23px;
    text-align: center;
}
.signinbutton:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}
#googlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: 560px;
    flex-shrink: 0;
}
.googlelogo {
    max-height: 92px;
    height: 100%;
    margin-top: auto;
}
#searchbox {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#searchbar {
    align-items: center;
    width: auto;
    max-width: 584px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 100%;
}
#searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
#searchbuttons {
    padding: 18px 0 0 0;
    height: 70px;
    width: auto;
}
.buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    height: 36px;
    text-align: center;
    align-items: center;
    min-width: 54px;
    padding: 0 16px;
    font-family: arial, sans-serif;
    color: #3c4043;
    line-height: normal;
}
.buttons:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}
#clicksearch {
    border: none;
    padding: 0;
    margin: 2px -10px 0 30px;
    height: 34px;
    font-size: 16px;
    display: flex;
    color: rgba(0,0,0,.87);
    align-items: center;
    flex: 100%;
    flex-wrap: wrap;
}
input:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: #222;
    padding: 5px;
    vertical-align: middle;
}
a:hover {
    text-decoration: underline;
}
.about {
    margin-left: 15px;
    margin: 0 5px;
}